.priceTimeGraph {
    border: solid;
    border-color: #373b41;
    border-width: 1px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 1rem;
}

.chartTitle {
    font-size: medium;
    margin-left: 2rem;
    width: 14rem;
}

.chartUpdateTime {
    font-size: medium;
    margin-left: 2rem;
}

.statusText {
    margin: 2rem;
}

.titleSection {
    display: flex;
}

.removeButton {
    color: rgb(177, 177, 177);
    font-size: large;
    font-weight: bold;
    background: none;
    border: none;
    height: 20px;
    display: flex;
    margin: 5px;
    margin-left: 1rem;
    margin-right: 0;
}

.startTradingButton {
    color: rgb(177, 177, 177);
    background-color: rgb(0, 82, 1);
    font-weight: bold;
    border: none;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 5px;
    height: 3rem;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgb(177, 177, 177);
}

.stopTradingButton {
    background-color: rgb(105, 0, 0);
    color: rgb(177, 177, 177);
    font-weight: bold;
    border: none;
    height: 3rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid rgb(177, 177, 177);
}

.sliderContainer {
    width: 16rem;
    margin: 20px auto;
}

.slider {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
}
