.row {
    display: flex;
    height: 100%;
}

.leftCol {
    padding: 1rem;
    flex: 3; /* Takes up 3 parts of the available space */
}

.rightCol {
    flex: 1; /* Takes up 1 part of the available space */
}


.searchContainer {
    margin: 0.5rem;
    border-radius: 5px;
    background-color: #161b23;
    border: 1px solid #292e3a;
    min-height: calc(100vh - 60px);
    padding: 0 0.5rem;
}

.asset {
    margin: 1rem;
}