.row {
    display: flex;
    height: 100%;
}

.leftCol {
    /* background-color: #1c212c;  */
    padding: 1rem;
    flex: 1;
}


.rightCol {
    border-radius: 5px;
    width: 20%;
    background-color: #161b23;
    border: 1px solid #292e3a;
    min-height: calc(100vh - 60px);
}

.asset {
    border-radius: 15px;
    background-color: #161b23;
    border: 1px solid #292e3a;
    padding: 0.5rem;
}