<!DOCTYPE html>
<html lang="en">
    <!-- Links and site icon and name content -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
            rel="stylesheet">
        <script src="../controllers/homeController.js"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet">
        <title> Home </title>
    </head>

    <!-- Content of page -->
    <body class="body">
        <!-- Navbar content -->
        <header>
            <%- include("header") %>
        </header>

        <!-- Page content -->
        
    </body>
</html>