.row {
    display: flex;
    height: 100%;
}

.leftCol {
    flex: 1;
}

.middleCol {
    flex: 1;
}


.rightCol {
    width: 20%;
    background-color: #161b23; 
    min-height: calc(100vh - 60px);
}