.priceTimeGraph {
    border: solid;
    border-color: #373b41;
    border-width: 1px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 1rem;
}

.chartTitle {
    font-size: medium;
    margin-left: 2rem;
}

.chartUpdateTime {
    font-size: medium;
    margin-left: 2rem;
}

.statusText {
    margin: 2rem;
}