.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    width: 100%;
}


.searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #4b4b4b;
    background-color: #353535;
    color: rgb(177, 177, 177);
    border-radius: 10px;
}

.dropdown {
    list-style-type: none;
    padding: 0;
    margin: 2px 0 0;
    border-bottom: #4b4b4b;
    border-radius: 4px;
    position: absolute;
    z-index: 1; /* Ensure it appears above other elements */
    width: 100%; /* Adjust for border width */
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #0e131a;  /* Highlight on hover */
}

.display_name {
    color: red;
}

.noResults {
    padding: 10px;
    cursor: pointer;
    background-color: #353535; /* Highlight on hover */
}