.assetContainer {
    margin: 0;
    width: 100%;
}

.choiceContainer {
    display: flex;
}

.choiceButton {
    flex: 1;
    font-family: Arial, sans-serif;
    background: none;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 0;
    margin: 0;
    text-align: center;
    color: rgb(177, 177, 177);
    font-size: larger;
}

.choiceButton:hover {
    background-color: #00000043;
}
.choiceButton:active {
    background-color: #0f1320; /* Darker background on active */
}

.searchTitle {
    margin: 0;
    padding: 15px 10px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.searchInput {
    margin: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #4b4b4b;
    background-color: #373b41;
    color: rgb(177, 177, 177);
}

.dropdown {
    list-style-type: none;
    padding: 0;
    margin: 2px 0 0;
    border-bottom: #4b4b4b;
    border-radius: 4px;
    z-index: 500; /* Ensure it appears above other elements */
    width: 100%; /* Adjust for border width */
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #00000043;  /* Highlight on hover */
}

.noResults {
    padding: 10px;
    margin: 2px 0 0;
    background-color: #0e131a;/* Highlight on hover */
}

.error {
    padding: 10px;
}