/* src/components/Header/Header.css */
/* Green: ##407E3D */

header {
    padding: 1rem 1rem; 
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000; 
    background-color: #101010b4;
}

.navbar {
    display: flex;
    align-items: flex-end;  
}

.logoTitleContainer {
    margin: 0;
    width: 16rem;
    display: flex;
    align-items: flex-end;
}

.logo {
    width: 2.5rem;
    height: auto;
    margin: 0;
}

.title {
    font-style: italic;
    font-size: 1.6rem;
    margin: 0;
}

.nav_links {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: auto; 
    margin-right: 0;
}

li {
    font-size: large;
    list-style-type: none;
    margin: 0;
    padding-left: 1rem;
}


.spacer {
    height: 100px;
}