.pageContent {
    text-align: center;
    align-content: center;
    height: 90vh;
}

.registerContent{ 
    display:inline-block;
    text-align: center;
    align-content: center;
    width: 50%;
    background-color: #1d2029; 
    border-radius: 10px;
    height: 50%;
    border: 1px solid #575b66; 
    min-height: fit-content;
}

.registerInput {
    width: 80%;
    color: rgb(177, 177, 177);
    margin: 10px;
    background: none;
    border: 1px solid #494b56; 
    padding: 10px;
    border-radius: 8px;
}

.registerButton {
    width: 80%;
    margin: 5px;
    background-color: #202739; 
    font-weight: 900;
    border: 1px solid rgb(135, 135, 135);
    padding: 10px;
    border-radius: 25px;
    color: rgb(177, 177, 177);
    font-family: Arial, sans-serif;
    text-decoration: none;
}

.registerButton:hover {
    color: rgb(255, 255, 255);
    background-color: hsl(223, 28%, 25%); 
    border-color: white;
    cursor: pointer;
}

.registerButton:active {
    color: rgb(146, 146, 146);
    border-color: #494b56;
    background-color: #232836; 
}

.pageLink {
    font-family: Arial, sans-serif;
    color: rgb(177, 177, 177);
    text-decoration: none;
}

.pageLink:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}